@use "/src/variables.scss" as vars;

.footer {
  background-color: vars.$color-black;
  color: vars.$color-white;
  padding: 1rem 0rem;
  margin-top: 10rem;
  text-align: center;

  a {
    color: vars.$color-white;
  }
}

@media screen and(max-width: vars.$screen-medium) {
  .footer {
    margin-top: 5rem;
    font-size: 1.8rem;
  }
}
